body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

nav a {
  color: red;
}

#active {
  font-weight: bold;
}

h1 {
  background-color: darkorange;
  font-size: 40px;
}

h2 {
  color: red;
}

p {
  line-height: 1.5;
}

.voorbeeld1 {
  font-weight: bold;
}

p.voorbeeld1 {
  color: yellow;
}

.voorbeeld2 {
  background-color: darkturquoise;
}

.voorbeeld-span {
  background-color: yellow;
}